@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@400;500;700&display=swap");

$primary-red: hsl(12, 88%, 59%);
$primary-blue: hsl(228, 39%, 23%);
$dark-grayish-blue: hsl(227, 12%, 61%);
$vary-light-gray: hsl(0, 0%, 98%);

@import "general.scss";
@import "hero.scss";
